nav {
    width: 100vw;
    height: 40px;
    background-color: rgba(140, 205, 231, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    overflow: hidden;
}

#nav-left {
    display: flex;
    height: 100%;
    width: 50%;
    h2 {
        font-size: 40px;
        line-height: 40px;
        margin: auto 0;
        font-family: 'Shalimar', cursive;
    }
    img {
        width: 40px;
        height: 40px;
    }
}

#nav-right {
    width: 50%;
    position: relative;
    right: 0;
    
    ul {
        position: absolute;
        right: 0;
        display: flex;
        line-height: 40px;
        margin: auto;

     li {
        list-style: none;
        padding: 0 20px;
        cursor: pointer;

         a {
            text-decoration: none;
         }
     }

     li:hover {
        background-color: purple;
    }
    
    li:hover a {
        color:rgba(140, 205, 231, 0.7);
     }
 }
}

#info-box {
    width: 50%;
    margin: 60px auto;
}

#new {
    padding: 2%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey, inset -4px -4px 5px lightgrey;
}

#new:active {
    box-shadow: inset 4px 4px 5px grey;
}

#date-search {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(140, 205, 231, 0.7);
    box-shadow: 0px 10px 13px -7px #000000, 5px -50px 15px -6px rgba(221,221,221,0), inset 5px 5px 5px #ddd, inset -5px -5px 5px #aaa;
    
    input {
        margin: 1%;
        padding: 1%;
        border-radius: 5px;
    }
    
    input:focus {
        background-color: rgba(237, 243, 245, 0.7);
    }

    button {
        width: 25%;
        padding: 2%;
        border-radius: 5px;
        box-shadow: 2px 2px 5px grey, inset -4px -4px 5px lightgrey;
    }

    button:active {
        box-shadow: inset 4px 4px 5px grey;
    }
}

@media screen and (max-width: 800px) {
    nav {
        height: 80px;

        #nav-left {
            align-items: center;
        }

        ul {
            flex-direction: column;
        
            li {
                padding: 10px 0;
                line-height: 20px;
            }
        }
    }

    #info-box {
        margin: 80px auto;
    }
}