<header>
  <nav>
    <div id="nav-left">
      <img src="assets/images/camera.png" alt="movie camera icon" width="40px">
      <h2>Nate's Movie Search</h2>
    </div>
    <div id="nav-right">
      <ul id="nav-links">
        <li id="link1" class="nav-link" *ngIf="data.length > 0">
          <a href="#chart">Ratings</a>
        </li>
        <li id="link2" class="nav-link" *ngIf="currentMovie.title" >
          <a href="#movie-detail">Details</a>
        </li>
        <li id="link3" class="nav-link" *ngIf="images.length > 0">
          <a href="#image-container">Images</a>
        </li>
        <li id="link4" class="nav-link" *ngIf="data.length > 0">
          <a href="#info-box">Search</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div id="info-box">
  <h1>Movie Ratings Search</h1>
  <p *ngIf="!begin">Click the button to search for movies that premired within a specific date range and 
    see the IMDB and TMDB average ratings for the selected movies:</p>
  <button id="new" *ngIf="!active" (click)="active = true; begin = true">New Search</button>
</div>
<p *ngIf="loading">{{loadingText}}</p>
<div *ngIf="active" id="date-search">
  <label for="start-date">Start Date: </label>
  <input type="date" name="start-date" #startDate (keydown)="onKeydown()">
  <label for="end-date">End Date: </label>
  <input type="date" name="end-date" #endDate (keydown)="onKeydown()">
  <button (click)="search(startDate.value, endDate.value); loading = true">Search</button>
</div>
<images 
  [images]="images" 
  [data]="data" 
  [index1]="index1" 
  [index2]="index2" 
  [index3]="index3"
  (movieEvent)="getMovie($event)"></images>
<chart [data]="data" [graph]="graph"></chart>
